# Ignore the virtual environment (Heavy & Useless for Docker)
venv/
env/

# Ignore the data folder (We don't want training data in the app image)
data/

# Ignore git history
.git/

# Ignore cached python files
__pycache__/

# Ignore the local MLflow storage (We inject only what we need via Jenkins)
mlruns/
mlflow_history/