---
- name: "Docker Setup"
  hosts: server
  gather_facts: yes
  become: yes

  tasks:
    - name: Install Docker
      ansible.builtin.apt:
        pkg:
          - docker.io
        state: present

    - name: Ensure Docker service is running
      ansible.builtin.systemd:
        name: docker
        state: started
        enabled: yes

    - name: Add current user to docker group
      ansible.builtin.user:
        name: "{{ ansible_user }}"
        groups: docker
        append: yes
