---
- name: "System Setup for Kubernetes Environment"
  hosts: server
  gather_facts: yes
  become: yes

  tasks:
    - name: Update all packages
      ansible.builtin.apt:
        update_cache: yes
        upgrade: dist

    - name: Install system dependencies
      ansible.builtin.apt:
        pkg:
          - apt-transport-https
          - ca-certificates
          - curl
          - gnupg
          - lsb-release
          - software-properties-common
          - sudo
          - rsync
          - python3-venv
        state: present
