---
- name: Find latest model for Deployment
  become: yes
  become_user: "{{ ansible_user }}"
  ansible.builtin.shell: |
    echo "=== Preparing latest_model directory ==="
    rm -rf mlruns/latest_model || true
    rm -rf ml_model || true
    mkdir ml_model

    LATEST_RUN_DIR=$(find /home/iiitb/mlflow_history -name "model.pkl" -type f -printf "%p\n" | sort | tail -1 | xargs dirname | xargs dirname) 
    echo "Run dir: $LATEST_RUN_DIR" 
    cp -rv "$LATEST_RUN_DIR" ml_model/
  args:
    chdir: /home/{{ ansible_user }}/project_workspace
