---
- name: "Provision server for MLOps deployment"
  hosts: server
  gather_facts: yes

  vars_files:
    - sudo_pwd_vault.yml
  
  roles:
    - update_system
    - install_docker
    - install_minikube
